@use '../../mixins' as mixin;

nav{
    ul{
        display:flex;
        flex-direction: row;
        li{
            margin:5px;
            text-align: center;
            font-weight: 300;

        }
        li a{
            color: var(--gray-1);
            text-decoration:none;
            padding: 5px;;
        }
        li a:hover{
            color: white;
            background-color: var(--primary);
            cursor: pointer;
            padding:5px;
            transition: background-color 0.5s ease;
            
        }
    }
    

}

.burger-icon {
    display: none; // caché par défaut
  
    @include mixin.xs {
      display: block; 
    }
  }
  
  nav ul {
    @include mixin.xs {
      display: none; // le menu principal est caché sur les petits écrans
    }
  }