<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button1</title>
    <link rel="stylesheet" href="../../output.css">
    <script src="https://kit.fontawesome.com/785308f487.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Button 1 template</h1>

    <div id="main-container">
        <h2>Button base</h2>
        <button class="btn3" title="Validate">
            <span class="btn3-text reverse-color-text">Validate</span>
            <span class="btn3-icon-back reverse-color-icon-back"><i class="fas fa-check" aria-hidden="true"></i></span>
        </button>
        <button class="btn3 btn-danger" title="Cancel">
            <span class="btn3-text reverse-color-text btn3-text-danger">Cancel</span>
            <span class="btn3-icon-back reverse-color-icon-back btn3-back-danger"><i class="fas fa-times" aria-hidden="true"></i></span>
        </button>
        <button class="btn3 btn-danger" title="Danger">
            <span class="btn3-text reverse-color-text">Danger</span>
            <span class="btn3-icon-back reverse-color-icon-back"><i class="fas fa-exclamation-triangle " aria-hidden="true"></i></span>
        </button>
        <button class="btn3" title="Add">
            <span class="btn3-text reverse-color-text">Add</span>
            <span class="btn3-icon-back reverse-color-icon-back"><i class="fas fa-plus " aria-hidden="true"></i></span>
        </button> 
        <button class="btn3 btn-danger" title="Delete">
            <span class="btn3-text reverse-color-text">Delete</span>
            <span class="btn3-icon-back reverse-color-icon-back"><i class="fas fa-trash " aria-hidden="true"></i></span>
        </button>
        <button class="btn3" title="Send">
            <span class="btn3-text reverse-color-text">Send</span>
            <span class="btn3-icon-back reverse-color-icon-back"><i class="fas fa-paper-plane " aria-hidden="true"></i></span>
        </button>
        <button class="btn3" title="Search">
            <span class="btn3-text reverse-color-text">Search</span>
            <span class="btn3-icon-back reverse-color-icon-back"><i class="fas fa-search " aria-hidden="true"></i></span>
        </button>
        <button class="btn3" title="Login">
            <span class="btn3-text reverse-color-text">Login</span>
            <span class="btn3-icon-back reverse-color-icon-back"><i class="fas fa-sign-in-alt " aria-hidden="true"></i></span>
        </button>
        <button class="btn3" title="Add to cart">
            <span class="btn3-text reverse-color-text">Add to cart</span>
            <span class="btn3-icon-back reverse-color-icon-back"><i class="fas fa-cart-plus " aria-hidden="true"></i></span>
        </button>
        <button class="btn3" title="Add to favorite">
            <span class="btn3-text reverse-color-text">Add to favorite</span>
            <span class="btn3-icon-back reverse-color-icon-back"><i class="fas fa-heart " aria-hidden="true"></i></span>
        </button>
        <button class="btn3" title="Comment">
            <span class="btn3-text reverse-color-text">Comment</span>
            <span class="btn3-icon-back reverse-color-icon-back"><i class="fas fa-comment " aria-hidden="true"></i></span>
        </button>
        <button class="btn3" title="Share">
            <span class="btn3-text reverse-color-text">Share</span>
            <span class="btn3-icon-back reverse-color-icon-back"><i class="fas fa-share " aria-hidden="true"></i></span>
        </button>


<hr>
        <button class="btn3" title="Validate">
            <span class="btn3-text">Validate</span>
            <span class="btn3-icon-back"><i class="fas fa-check" aria-hidden="true"></i></span>
        </button>
        <button class="btn3 btn-danger" title="Cancel">
            <span class="btn3-text">Cancel</span>
            <span class="btn3-icon-back"><i class="fas fa-times" aria-hidden="true"></i></span>
        </button>
        <button class="btn3" title="Danger">
            <span class="btn3-text">Danger</span>
            <span class="btn3-icon-back"><i class="fas fa-exclamation-triangle " aria-hidden="true"></i></span>
        </button>
        <button class="btn3" title="Add">
            <span class="btn3-text">Add</span>
            <span class="btn3-icon-back"><i class="fas fa-plus " aria-hidden="true"></i></span>
        </button>
        <button class="btn3 btn-danger" title="Delete">
            <span class="btn3-text">Delete</span>
            <span class="btn3-icon-back"><i class="fas fa-trash " aria-hidden="true"></i></span>
        </button>
        <button class="btn3" title="Send">
            <span class="btn3-text">Send</span>
            <span class="btn3-icon-back"><i class="fas fa-paper-plane " aria-hidden="true"></i></span>
        </button>
        <button class="btn3" title="Search">
            <span class="btn3-text">Search</span>
            <span class="btn3-icon-back"><i class="fas fa-search " aria-hidden="true"></i></span>
        </button>
        <button class="btn3" title="Login">
            <span class="btn3-text">Login</span>
            <span class="btn3-icon-back"><i class="fas fa-sign-in-alt " aria-hidden="true"></i></span>
        </button>
        <button class="btn3" title="Add to cart">
            <span class="btn3-text">Add to cart</span>
            <span class="btn3-icon-back"><i class="fas fa-cart-plus " aria-hidden="true"></i></span>
        </button>
        <button class="btn3" title="Add to favorite">
            <span class="btn3-text">Add to favorite</span>
            <span class="btn3-icon-back"><i class="fas fa-heart " aria-hidden="true"></i></span>
        </button>
        <button class="btn3" title="Comment">
            <span class="btn3-text">Comment</span>
            <span class="btn3-icon-back"><i class="fas fa-comment " aria-hidden="true"></i></span>
        </button>
        <button class="btn3" title="Share">
            <span class="btn3-text">Share</span>
            <span class="btn3-icon-back"><i class="fas fa-share " aria-hidden="true"></i></span>
        </button>


<hr>
        <h2>Button base with icon</h2>
        <div class="container">
            <button class="btn2 btn2-icon btn-primary btn2-font-style" title="Primary">
                <span><i class="fas fa-check mr-5" aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Primary</span>
            </button>
            <button class="btn2 btn2-icon  btn-danger btn2-font-style" title="Danger">
                <span><i class="fas fa-exclamation-triangle mr-5" aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Danger</span>
            </buttonv>
            <button class="btn2 btn2-icon btn-primary btn2-font-style" title="Validate">
                <span><i class="fas fa-check mr-5" aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Validate</span>
            </button>
            <button class="btn2 btn2-icon btn-danger btn2-font-style" title="Cancel">
                <span><i class="fas fa-times mr-5" aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Cancel</span>
            </button>
            <button class="btn2 btn2-icon btn-primary btn2-font-style" title="Add">
                <span><i class="fas fa-plus mr-5" aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Add</span>
            </button>
            <button class="btn2 btn2-icon btn-danger btn2-font-style" title="Delete">
                <span><i class="fas fa-trash mr-5" aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Delete</span>
            </button>
            <button class="btn2 btn2-icon btn-primary btn2-font-style" title="Send">
                <span><i class="fas fa-paper-plane mr-5" aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Send</span>
            </button>
            <button class="btn2 btn2-icon btn-primary btn2-font-style" title="Search">
                <span><i class="fas fa-search mr-5" aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Search</span>
            </button>
            <button class="btn2 btn2-icon btn-primary btn2-font-style" title="Search">
                <span><i class="fas fa-sign-in-alt mr-5" aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Login</span>
            </button>
            <button class="btn2 btn2-icon btn-primary btn2-font-style" title="Search">
                <span><i class="fas fa-cart-plus mr-5" aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Add to cart</span>
            </button>
            <button class="btn2 btn2-icon btn-primary btn2-font-style" title="Search">
                <span><i class="fas fa-heart mr-5" aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Add to favorite</span>
            </button>
            <button class="btn2 btn2-icon btn-primary btn2-font-style" title="Search">
                <span><i class="fas fa-comment mr-5" aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Comment</span>
            </button>
            <button class="btn2 btn2-icon btn-primary btn2-font-style" title="Search">
                <span><i class="fas fa-share mr-5" aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Share</span>
            </button>
        </div>
      
    </div>
</body>
</html>