<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button1</title>
    <link rel="stylesheet" href="../../output.css">
</head>
<body>
    <h1>Card 1 template</h1>
    <div id="main-container">
        <button class="btn1 btn-primary">Primary</button>
        <button class="btn1 btn-danger">Danger</button>
        <button class="btn1 btn-validate">Validate</button>
        <button class="btn1 btn-cancel">Cancel</button>
        <button class="btn1 btn-add">Add</button>
        <button class="btn1 btn-delete">Delete</button>
        <button class="btn1 btn-send">Send</button>
    </div>
</body>
</html>