<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button1</title>
    <link rel="stylesheet" href="../../output.css">
    <script src="https://kit.fontawesome.com/785308f487.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Button 1 template</h1>

    <div id="main-container">
        <h2>Button base</h2>
        <button class="btn1 btn-primary btn1-font-style">Primary</button>
        <button class="btn1 btn-danger btn1-font-style">Danger</button>
        <button class="btn1 btn-primary btn1-font-style">Validate</button>
        <button class="btn1 btn-danger btn1-font-style">Cancel</button>
        <button class="btn1 btn-primary btn1-font-style">Add</button>
        <button class="btn1 btn-danger btn1-font-style">Delete</button>
        <button class="btn1 btn-primary btn1-font-style">Send</button>
        <button class="btn1 btn-primary btn1-font-style">Login</button>
        <button class="btn1 btn-primary btn1-font-style">Add to cart</button>
        <button class="btn1 btn-primary btn1-font-style">Add to favorite</button>
        <button class="btn1 btn-primary btn1-font-style">Comment</button>
        <button class="btn1 btn-primary btn1-font-style">Share</button>


<hr>
        <h2>Button base with icon</h2>
        <div class="d-flex flex-row">
            <button class="btn1 btn-icon btn-primary btn1-font-style" title="Primary">
                <span><i class="fas fa-check mr-5" aria-hidden="true"></i>Primary</span>
            </button>
            <button class="btn1 btn-icon  btn-danger btn1-font-style" title="Danger">
                <span><i class="fas fa-exclamation-triangle mr-5" aria-hidden="true"></i>Danger</span>
            </buttonv>
            <button class="btn1 btn-icon btn-primary btn1-font-style" title="Validate">
                <span><i class="fas fa-check mr-5" aria-hidden="true"></i>Validate</span>
            </button>
            <button class="btn1 btn-icon btn-danger btn1-font-style" title="Cancel">
                <span><i class="fas fa-times mr-5" aria-hidden="true"></i>Cancel</span>
            </button>
            <button class="btn1 btn-icon btn-primary btn1-font-style" title="Add">
                <span><i class="fas fa-plus mr-5" aria-hidden="true"></i>Add</span>
            </button>
            <button class="btn1 btn-icon btn-danger btn1-font-style" title="Delete">
                <span><i class="fas fa-trash mr-5" aria-hidden="true"></i>Delete</span>
            </button>
            <button class="btn1 btn-icon btn-primary btn1-font-style" title="Send">
                <span><i class="fas fa-paper-plane mr-5" aria-hidden="true"></i>Send</span>
            </button>
            <button class="btn1 btn-icon btn-primary btn1-font-style" title="Search">
                <span><i class="fas fa-search mr-5" aria-hidden="true"></i>Search</span>
            </button>
            <button class="btn1 btn-icon btn-primary btn1-font-style" title="Search">
                <span><i class="fas fa-sign-in-alt mr-5" aria-hidden="true"></i>Login</span>
            </button>
            <button class="btn1 btn-icon btn-primary btn1-font-style" title="Search">
                <span><i class="fas fa-cart-plus mr-5" aria-hidden="true"></i>Add to cart</span>
            </button>
            <button class="btn1 btn-icon btn-primary btn1-font-style" title="Search">
                <span><i class="fas fa-heart mr-5" aria-hidden="true"></i>Add to favorite</span>
            </button>
            <button class="btn1 btn-icon btn-primary btn1-font-style" title="Search">
                <span><i class="fas fa-comment mr-5" aria-hidden="true"></i>Comment</span>
            </button>
            <button class="btn1 btn-icon btn-primary btn1-font-style" title="Search">
                <span><i class="fas fa-share mr-5" aria-hidden="true"></i>Share</span>
            </button>
        </div>
      
    </div>
</body>
</html>