<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button1</title>
    <link rel="stylesheet" href="../../output.css">
    <script src="https://kit.fontawesome.com/785308f487.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Button 1 template</h1>

    <div id="main-container">
        <h2>Button base</h2>
        <button class="btn2 btn-primary btn2-font-style">Primary</button>
        <button class="btn2 btn-danger btn2-font-style">Danger</button>
        <button class="btn2 btn-primary btn2-font-style">Validate</button>
        <button class="btn2 btn-danger btn2-font-style">Cancel</button>
        <button class="btn2 btn-primary btn2-font-style">Add</button>
        <button class="btn2 btn-danger btn2-font-style">Delete</button>
        <button class="btn2 btn-primary btn2-font-style">Send</button>
        <button class="btn2 btn-primary btn2-font-style">Login</button>
        <button class="btn2 btn-primary btn2-font-style">Add to cart</button>
        <button class="btn2 btn-primary btn2-font-style">Add to favorite</button>
        <button class="btn2 btn-primary btn2-font-style">Comment</button>
        <button class="btn2 btn-primary btn2-font-style">Share</button>


<hr>
        <h2>Button base with icon</h2>
        <div class="container">
            <button class="btn2 btn-icon btn-primary btn2-font-style" title="Primary">
                <span><i class="fas fa-check" aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Primary</span>
            </button>
            <button class="btn2 btn-icon  btn-danger btn2-font-style" title="Danger">
                <span><i class="fas fa-exclamation-triangle " aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Danger</span>
            </buttonv>
            <button class="btn2 btn-icon btn-primary btn2-font-style" title="Validate">
                <span><i class="fas fa-check " aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Validate</span>
            </button>
            <button class="btn2 btn-icon btn-danger btn2-font-style" title="Cancel">
                <span><i class="fas fa-times " aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Cancel</span>
            </button>
            <button class="btn2 btn-icon btn-primary btn2-font-style" title="Add">
                <span><i class="fas fa-plus " aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Add</span>
            </button>
            <button class="btn2 btn-icon btn-danger btn2-font-style" title="Delete">
                <span><i class="fas fa-trash " aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Delete</span>
            </button>
            <button class="btn2 btn-icon btn-primary btn2-font-style" title="Send">
                <span><i class="fas fa-paper-plane " aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Send</span>
            </button>
            <button class="btn2 btn-icon btn-primary btn2-font-style" title="Search">
                <span><i class="fas fa-search " aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Search</span>
            </button>
            <button class="btn2 btn-icon btn-primary btn2-font-style" title="Search">
                <span><i class="fas fa-sign-in-alt " aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Login</span>
            </button>
            <button class="btn2 btn-icon btn-primary btn2-font-style" title="Search">
                <span><i class="fas fa-cart-plus " aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Add to cart</span>
            </button>
            <button class="btn2 btn-icon btn-primary btn2-font-style" title="Search">
                <span><i class="fas fa-heart " aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Add to favorite</span>
            </button>
            <button class="btn2 btn-icon btn-primary btn2-font-style" title="Search">
                <span><i class="fas fa-comment " aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Comment</span>
            </button>
            <button class="btn2 btn-icon btn-primary btn2-font-style" title="Search">
                <span><i class="fas fa-share " aria-hidden="true"></i></span>
                <span class="btn-separator"></span>
                <span class="btn-text">Share</span>
            </button>
        </div>
      
    </div>
</body>
</html>