.btn2{
    display: flex;
    align-items: center;
    padding: 5px 8px;
    border-radius:25px;
    cursor:pointer;
    transition:0.2s opacity;
    margin:10px;
    &:hover{
        opacity:0.6;
    }
    a{
        text-decoration:none;
        color:white;
    }
}

.btn2-font-style{
    font-family:var(--font-family);
    font-size: 1rem;
}

.btn-icon{
    display: flex;
    justify-content: center;
    width: auto;
    i{
        font-size: 0.8rem;
    }
}

.btn-separator{
    height: 26px;
    width: 1px;
    background-color: white;
    margin: 0 10px;
}

.btn-primary{
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary-border);
}


.btn-reverse-primary{
    background-color: white;
    color: var(--primary);
    border: 2px solid var(--primary-border);
}

.btn-danger{
    background-color: var(--danger);
    color: white;
    border: 1px solid var(--border-danger);
}


.btn-reverse-danger{
    background-color: white;
    color: var(--danger);
    border: 2px solid var(--border-danger);
}