<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card3</title>
    <link rel="stylesheet" href="../../output.css">
</head>
<body>
    <h1>Card 3 template</h1>
    <div id="main-container">
        <div id="card2-container" class="">
            <div class="card2">
                <img src="../../assets/images/destiny2/Destiny 2-1.jpg"/>
                <div class="card2-title">Destiny 2 img1</div>
                <div class="card2-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut veniam voluptas, fuga adipisci tempore magnam perspiciatis dolor magni suscipit doloremque aperiam hic nam sed, ab voluptates dolorem, dignissimos quis dicta.</div>
            </div>
            <div class="card2">
                <img src="../../assets/images/destiny2/Destiny 2-2.jpg"/>
                <div class="card2-title">Destiny 2 img2</div>
                <div class="card2-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut veniam voluptas, fuga adipisci tempore magnam perspiciatis dolor magni suscipit doloremque aperiam hic nam sed, ab voluptates dolorem, dignissimos quis dicta.</div>
            </div>            
            <div class="card2">
                <img src="../../assets/images/destiny2/Destiny 2-3.jpg"/>
                <div class="card2-title">Destiny 2 img3</div>
                <div class="card2-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut veniam voluptas, fuga adipisci tempore magnam perspiciatis dolor magni suscipit doloremque aperiam hic nam sed, ab voluptates dolorem, dignissimos quis dicta.</div>
            </div>            
            <div class="card2">
                <img src="../../assets/images/destiny2/Destiny 2-4.jpg"/>
                <div class="card2-title">Destiny 2 img4</div>
                <div class="card2-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut veniam voluptas, fuga adipisci tempore magnam perspiciatis dolor magni suscipit doloremque aperiam hic nam sed, ab voluptates dolorem, dignissimos quis dicta.</div>
            </div>

        </div>

    </div>
</body>
</html>