<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu1</title>
    <link rel="stylesheet" href="../../output.css">
</head>
<body>
    <div class="burger-icon">☰</div>
    <nav class="">
        <ul  class="">
            <li>
                <a href="../index.html">Home</a>
            </li>
            <li>
                <a href="../cards/card1.html">Cards</a>
            </li>
            <li>
                <a href="../buttons/button1.html">Buttons</a>
            </li>
            <li>
                <a href="./menu1.html">Menus</a>
            </li>
            
        </ul>
    </nav>
    <script>
        document.querySelector('.burger-icon').addEventListener('click', function() {
          document.querySelector('nav ul').classList.toggle('active');
        });
      </script>
    
</body>
</html>